body {
    text-align: center;
    background-color: #004D40;
    color: #4DD0E1;
}

img {
    height: 200;
    width: 200;
    border-radius: 50%;
}

.menu {
    list-style: none;
    font-size: 25px;
    font-family: fantasy;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;

}
.links{
    color:blanchedalmond;
    display:inline;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:9px;
    padding-right:9px;
}
.link:hover{
    background-color:crimson;
}
